body {
  background-color: azure;
  margin: 0;
}
#titleBar {
  display: flex;
  align-items: center;
  background-color: rgb(150, 250, 250);
  padding: 10px;
}
#logo {
  margin: 0 15px;
}
/*
#titleText {

}	 */
.contentSection h2 {
  background-color: rgb(150, 250, 250);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 10px;
}
.contentSection {
  margin-bottom: 60px;
  padding-right: 5px;
}
.contentSection p,
h3 {
  font-size: large;
  margin-left: 10px;
}
