html {
	width: 350px;
}
body {
	margin: 0px;
	}
#titleBar {  
	display: flex;
	align-items: center;
	justify-content: space-between;
	height:5%;
	background-color: rgb(150,250,250);
}  
#logo {
	margin : 0 10px;
	margin-right: 15px;;
	
}

.content, .help{
	text-align: center;
}
#statusText	{
	font-size: 18px;
	font-weight: 500;
	margin-left: 15px;
	margin-right: 15px;
	
}
#btnBlacklistToggle {
	/* display: inline-block; */
	font-size: 17px;
	font-weight: 600;
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: rgb(150,250,250);
}
#btnHelp {
	/* display: inline-block; */
	font-size: 17px;
	font-weight: 600;
	padding: 8px 10px;
	border-radius: 10px;
	border: none;
	background-color: rgb(150,250,250);
	

}

a{
	text-decoration: none;
}

.buttons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px;
	
}

#pred_table {
	font-size:20px;
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 10px;

}